body{
    animation: change-color 10s infinite alternate;
}

@keyframes change-color {
    0% {background-color: antiquewhite;}
    50% {background-color: rgb(45, 59, 138);}
    100% {background-color: rgb(0, 0, 0);}
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {transform: skew(0deg, 0deg);}
    100% {transform: skew(35deg, 20deg);}
}

.square {
    background-color: rgb(218, 187, 247);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.square:hover {
    background-color: rgb(126, 126, 233);
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button {
    color: white;
    background-color: rgb(77, 77, 219);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: rgb(45, 13, 228);
    color: black;
    transform: scale(1.5);
}

.loading {
    background-color: rgb(6, 4, 109);
    animation: stretch 5s 3 normal;
    width: 80vw;
}

@keyframes stretch {
    0% {width: 100px;}
    100% {width: 80vw;}
}